<h1>Про додаток</h1>
<p>Курсова робота була виконана Подорогою Артуром Володимировичем, студентом групи КС43</p>
<br>
<h1>Інформація - Розподіл хі-квадрат</h1>
<p>Розподіл хі-квадрат (χ²-розподіл) з 'k' ступенями вільності — неперервний розподіл, що визначається як розподіл суми квадратів 'k' незалежних випадкових величин з стандартним нормальним розподілом. Тобто якщо ξ1, ..., ξk — незалежні стандартні нормальні випадкові величини, то випадкова величина Xk²=ξ1²+...+ξk² матиме розподіл хі-квадрат з 'k' ступенями вільності. </p>
<p>Густина (щільність) (PDF) розподілу ймовірностей хі-квадрат зі ступенями вільності від 1 до 5 наведено на рисунку нижче:</p>
<%= image_tag "Chi-square_pdf.png", height: 500, :alt => "Графік pdf" %>
