<h1>Допомога по користуванню</h1>
<p>Застосунок відображає у графічному вигляді моделювання випадкової величини розподілу хі-квадрат</p>

<p>Для порівняння одночасно виведено дані у вигляді гістаграм.</p>

<p>У першому випадку випадкові величини генеруються методом Неймана (2 серії даних, з разних генерацій). Для порявняння наведено апроксимацію (блакитні графіки).</p>
<p>Аналогічно наведено і у випадку генерації чисел методом Метрополіса: 2 серії даних та график апроксимації.</p>
